.room-list {
  background-color: rgba(1,1,40, 0.5);
  width: 20%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: inline-block;
}

.rooms {
  margin-bottom: 1.5rem;
  clear: both;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgba(230, 230, 255, 0.7);
}

.bloc-chat-header {
  float: left;
}

.room {
  margin: 1.25em 0;
  float: right;
}
